// Navigation code here

nav {

    
    background-color: @nav-bg;
    font-family: @nav-font;
    padding-bottom:2rem;
    text-align: center;
    h1{
        font-size: 4rem;
        margin-bottom: 3%;
        padding-top: 1.1rem;
        
    }
    a {
        text-decoration: none;
        font-family: @nav-font;
        font-size: 1.5rem;
        margin: 1.6rem;
        color: black;

    }
    
}